body{
    padding: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.heading{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company{
    width: 100vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
#details{
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}
